<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.js 3 - Shopping List</title>
  </head>

  <body>
    <div id="shopping-list">
      <h1>{{header || 'Welcome'}}</h1>
      <input placeholder="Add a new item" v-model="newItem" @keyup.enter="saveItem" />
      <label> <input type="checkbox" v-model="newItemHighPriority" value="newItemHighPriority" /> High </label>
      <button @click="saveItem" class="btn btn-primary">Save Item</button>

      <ul>
        <li v-for="item in items" :key="item.id">{{item.label}}</li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        data() {
          return {
            header: "Shopping List App",
            newItem: "",
            newItemHighPriority: false,
            items: [
              { id: 1, label: "Pão" },
              { id: 2, label: "Ovos" },
              { id: 3, label: "Leite" },
            ],
          };
        },
        methods: {
          saveItem() {
            this.items.push({ id: this.items.length + 1, label: this.newItem });
            this.newItem = "";
          },
        },
      }).mount("#shopping-list");
    </script>
  </body>
</html>
